<section class="about" id="<%=id%>">
    <div class="left-titles" data-aos="fade-left" data-aos-duration="1500">
        <h2 class="about-titles"><%= title %></h2>
    </div>
    <div class="right-titles" data-aos="fade-right" data-aos-duration="1500"   >
        <h2 class="about-titles"><%= title %></h2>
    </div>
    <div class="left-images" data-aos="fade-left" data-aos-duration="1500">
        <div class="about-img">
            <img src="/images/<%= img %>" alt="<%= img %>">
        </div>
    </div>
    <div class="right-images" data-aos="fade-right" data-aos-duration="1500" >
        <div class="about-img">
            <img src="/images/<%= img %>" alt="<%= img %>">
        </div>
    </div>
</section>