<%- include('layout/boilerplate') %>
<%- include('navbar.ejs') %>
<%- include('header.ejs') %>
<div class="gradient-background">
    <%- include('about', {id:'about1',title: 'bring your shop online',img: 'business_shop.svg'}) %>
    <%- include('about', {id:'about2',title: 'connect with potential customers',img: 'customers.svg'}) %>
    <%- include('about', {id:'about3',title: 'get in the digital world',img: 'digital_world.svg'}) %>
    <%- include('features.ejs') %>
    <%- include('contact.ejs') %>
    <%- include('testimonial.ejs') %>
    <%- include('team.ejs') %>
</div>
<%- include('footer.ejs') %>  