<div class="slider">
    <div class="slider__slide slider__slide--active" data-slide="1">
      <div class="slider__wrap">
        <div class="slider__back" style="background-image:url(<%- images[0] %>)"></div>
      </div>
      <div class="slider__inner" style="background-image:url(<%- images[0] %>)">
        <div class="slider__content">
          <h1><%= title[0] %> <br> <%= br[0] %> </h1><a class="go-to-next">next</a>
        </div>
      </div>
    </div>
    <div class="slider__slide" data-slide="2">
      <div class="slider__wrap">
        <div class="slider__back" style="background-image:url(<%- images[1] %>)"></div>
      </div>
      <div class="slider__inner" style="background-image:url(<%- images[1] %>)">
        <div class="slider__content">
          <h1><%= title[1] %> <br> <%= br[1] %> </h1><a class="go-to-next">next</a>
        </div>
      </div>
    </div>
    <div class="slider__slide" data-slide="3">
      <div class="slider__wrap">
        <div class="slider__back" style="background-image:url(<%- images[2] %>)"></div>
      </div>
      <div class="slider__inner" style="background-image:url(<%- images[2] %>)">
        <div class="slider__content">
          <h1><%= title[2] %> <br> <%= br[2] %> </h1><a class="go-to-next">next</a>
        </div>
      </div>
    </div>
    <div class="slider__indicators"></div>
  </div><a class="sig" href="graphicstaan.herokuapp.com" target="_blank">Graphicstaan</a>